-- Create non-root user for n8n if it doesn't exist
DO
$do$
BEGIN
   IF NOT EXISTS (
      SELECT FROM pg_catalog.pg_roles
      WHERE  rolname = '{POSTGRES_NON_ROOT_USER}') THEN

      CREATE ROLE {POSTGRES_NON_ROOT_USER} LOGIN PASSWORD '{POSTGRES_NON_ROOT_PASSWORD}';
   END IF;
END
$do$;

-- Grant necessary permissions
GRANT ALL PRIVILEGES ON DATABASE {POSTGRES_DB} TO {POSTGRES_NON_ROOT_USER};
GRANT ALL ON SCHEMA public TO {POSTGRES_NON_ROOT_USER};
